<!-- Template driven forms -->

<form (submit)="handleSubmit()">
    <input type="text" placeholder="Username" [(ngModel)]="myform.username" name="username" #username="ngModel" required
        [ngStyle]='{"border" : username.invalid ? "red 1px solid" : "green 1px solid"}' minlength="4">
    <!-- <span>
        {{username.errors.required ? "Username Field Is Empty" :""}}
        {{username.errors.minlength ? username.errors.minlength.requiredLength - username.errors.minlength.actualLength +"Letters Required": ""}}
        {{!username.errors ? "Well Done!" : ""}}
    </span> -->
    <span *ngIf="username.errors?.required">Username not valid</span>
    <span *ngIf="username.errors?.minlength">
        {{username.errors.minlength.requiredLength - username.errors.minlength.actualLength}} Charts Left
    </span>

    <input type="password" placeholder="Password" [(ngModel)]="myform.password" name="password" required
        #password="ngModel" [ngStyle]='{"border" : password.invalid ? "red 1px solid" : "green 1px solid"}'>
    <span></span>
    <input type="submit" value="Submit" [disabled]="!username.invalid || password.invalid">
</form>

<p>{{myform | json}}</p>
<h1>Name : {{username.value}}</h1>
<p>Valid Username : {{username.valid}}</p>
<p>Valid Password : {{password.valid}}</p>
<p>Error : {{username.errors|json}}</p>

<!-- name.errors.required -->
<!-- name.errors.minlength -->

<!-- 
<p> Username : {{username.value}}</p>
<p> Password : {{password.value}}</p> -->